:root {
  background-color: #2f3b69;
  --primaryColor: #2f3b69;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.6;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}